.products-grid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 2rem;
}
.product-card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
    border-radius: 5px;
    background-color: rgb(228, 241, 241);
    width: 180px;
    height: 300px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto 1fr auto;
    gap: 0.4rem;
    

    overflow: hidden;
    padding: 0.2rem;
}
.product-img{
    width: auto;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* overflow: hidden; */
    outline: 1px solid rgb(223, 214, 214);
    outline-offset: -2px;
}
.product-img img{
    width: 100%;
    height: 100%;
}
.product-name{
    color:rgb(7, 19, 71);
    font-weight: bold;
    margin: 0; 
    margin-bottom: -0.2rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    text-transform: capitalize;
}
.product-category{
    background-color: rgba(100, 148, 237, 0.185);
    font-size: 0.6rem;
    text-transform: uppercase;
    padding-top: 0.2rem;
    max-height: 1rem;
    color: rgb(110, 107, 107);
    font-family: sans-serif;
}

.product-description{
    font-size: 0.7rem;
    padding: 0 0.5rem;
    max-width: 10rem;
    align-self: center;
}
.product-rest-info{
    padding: 0.5rem;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border-top: 1px solid cornflowerblue ;
}
.product-add-to-cart-btn{
    border-radius: 3px;
    background-color: rgb(232, 235, 240);
    height: 1.2rem;
    border: 1px solid cornflowerblue;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: sans-serif;
}
.product-add-to-cart-btn:hover{
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}
.product-price{
    font-size: 0.7rem;
    color: rgb(100, 103, 107);
    place-self: center;
}

@media only screen and (min-width: 600px) {
    .products-grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}