
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found...</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/shop.css">
  <link rel="stylesheet" href="/css/cart.css">
  <link rel="stylesheet" href="/css/order-modal.css">
  <script src="./js/main.js" defer></script>
  <script src="./js/shop.js" defer></script>
  <script src="./js/cart.js" defer></script>
  <script src="./js/place-order.js" defer></script>
</head>
<body>


<!-- MAIN CONTENT -->
<main>
  <h1>No site found for the address provided</h1>
  <a href="/index"><li class="nav-link">go back to main site</li></a>
</main>

<footer>
  <ul class="nav-links footer-links">
    <a href="/index"><li class="nav-link">Home</li></a>
    <a href="/shop"><li class="nav-link">Shop</li></a>
    <a href="/contact"><li class="nav-link">Contact</li></a>      
  </ul>
  <p class="copyright">@copyright lkp25 <span class="date"></span></p>
</footer>

</body>

</html>

<p>By clicking confirm button below you state that all the information is correct and you will be transfered to payment page.</p>
<button class="order-confirm">Confirm</button>
<button class="order-deny">Deny</button>