<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANNEL</title>
    <link rel="stylesheet" href="/css/admin-panel.css">
  <script src="./js/admin-panel-orders.js" defer></script>
</head>
<body>
    <header>
       <ul>
           <li>
                <a href="/index">GO TO SHOP</a>
           </li>
           <li>
                <a href="/admin-orders">ORDERS</a>
           </li>
           <li>
            <a href="/admin-products">PRODUCTS</a>
           </li>
       </ul>      
    </header>

    <main>
       

    </main>
    
</body>
</html>