<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANEL - questions</title>
    <link rel="stylesheet" href="/css/admin-panel.css">
    <link rel="stylesheet" href="/css/admin-panel-questions.css">
    
  <script src="./js/admin-panel-questions.js" defer></script>
</head>
<body>
    <header>
       <ul>
           <li>
                <a href="/shop">GO TO SHOP</a>
           </li>
           <li>
                <a href="/admin-orders">ORDERS</a>
           </li>
           <li>
            <a href="/admin-products">PRODUCTS</a>
           </li>
           <li>
            <a href="/admin-questions">QUESTIONS</a>
           </li>
       </ul>      
    </header>

    <main>
        
        <h2>A list of all customer questions:</h2>
        <table id="db-all-questions" >
            <tr class="db-questions-main-row">
                             
                <th>MSG DETAILS</th>
                <th>CONTENT</th>
                <th>REMOVE</th>
                
            </tr>
            <template id="db-questions-template">
                <tr class="db-single-question">                                  
                                   
                    <td class="db-question-details">
                        <a href=""><div class="db-question-email"></div></a>
                        <div class="db-question-date"></div>
                    </td>                
                    <td >
                        <textarea class="db-question-content" name="" id="" cols="40" rows="8"></textarea>
                    </td>                
                    <td ><button class="db-question-remove">X</button></td>                
                                    
                </tr>  
            </template>
            
            
        </table>
            
    </main>
    
</body>
</html>