<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANEL - orders</title>
    <link rel="stylesheet" href="/css/admin-panel.css">
    <link rel="stylesheet" href="/css/admin-panel-single-order-info.css">
  <script src="./js/admin-panel-orders.js" defer></script>
</head>
<body>
    <header>
       <ul>
           <li>
                <a href="/shop">GO TO SHOP</a>
           </li>
           <li>
                <a href="/admin-orders">ORDERS</a>
           </li>
           <li>
            <a href="/admin-products">PRODUCTS</a>
           </li>
           <li>
            <a href="/admin-questions">QUESTIONS</a>
           </li>
           <li>
            <form action="/logout" method="POST" ><button type="submit" class="logout-btn">Log-out</button></form> 
           </li>
       </ul>      
    </header>

    <main>
       <h1 class="welcome-header">Welcome to orders panel!</h1>
       <div class="searchbar-container">
        
        <!-- <select name="all-orders-select-filter" id="all-orders-select-filter">
          <option class="sort-selection" value="Surname">Surname</option>
          <option class="sort-selection" value="Value">Value</option>
          <option class="sort-selection" value="Date">Date</option>
          <option class="sort-selection" value="Id">ID</option>
          <option class="sort-selection" value="Sent?">Sent?</option>
        </select> -->
        <button class="sort-btn">SORT BY</button>
        <ul class="x">
          <li data-sort-type="surname" class="sort-selection">Surname</li>
          <li data-sort-type="value" class="sort-selection" >Value</li>
          <li data-sort-type="date" class="sort-selection" >Date</li>
          <li data-sort-type="id" class="sort-selection" >ID</li>
          <li data-sort-type="sent" class="sort-selection">Show sent only</li>
          <li data-sort-type="unsent" class="sort-selection">Show unsent only</li>
        </ul>
        <input id="search-field" placeholder="type here to search BY SURNAME..." type="text">
        
       </div>
       <section class="display-orders-section">
        
        <table id="db-all-orders" >
            <tr class="main-row">
                <th>SENT?</th>
                <th>ID</th>
                <th>SURNAME</th>
                <th>VALUE</th>
                <th>DATE</th>
                <th>MORE INFO</th>
            </tr>
            <template id="db-order-template">
                <tr class="db-single-order">
                    <td class="checkbox-container"><div class="checkbox" data-sent="false"></div></td>                
                    <td class="db-order-id">fsd</td>                
                    <td class="db-order-surname">fsdfsdafa</td>                
                    <td class="db-order-value">dsfa</td>                
                    <td class="db-order-date">dfsafdsa</td>                
                    <td ><button class="db-order-more-info-btn">Details...</button></td>                
                </tr>  
            </template>
            
            
        </table>
    </section>
    <template id="single-order-details-template">
        <div class="single-order-window-container">
            <div class="single-order-info-card">
                <div class="soic-header">
                    <div class="soic-order-id">#3523523</div>
                    <div class="soic-order-status">NOT SENT</div>
                </div>
                <div class="soic-main-details">
                    <div class="soic-address">
                        <p>DAN HUM</p>
                        <p>ul FENG SZUONKG 18</p>
                        <p>49-400 POLAMd</p>
                    </div>
                    <div class="soic-other-main-info">
                        <div class="soic-date">12 mar sat 1999</div>
                        <a class="soic-email" href="mailto:">fengszong@hu.coon</a> 
                        
                    </div>
                </div>
                <h2 class="items-ordered">Items ordered:</h2>
                <table class="soic-items-table">
                    <tr class="soic-main-row">
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>                    
                    </tr>
                    
                </table>
                <div class="soic-total-value"45356>Total order value: <span id="total-order-value-span"> </span></div>
            </div>
        </div>
    </template>

    <template id="soic-single-ordered-item-row">
        <tr class="soic-row">
            <td class="soic-name">sddfspa</td>
            <td class="soic-quantity">x 3</td>
            <td class="soic-price">1900</td>
        </tr>
    </template>

    </main>
    
</body>
</html>