<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANNEL</title>
    <link rel="stylesheet" href="/css/admin-panel.css">
  <script src="./js/admin-panel-orders.js" defer></script>
</head>
<body>
    <header>
       <ul>
           <li>
                <a href="/index">GO TO SHOP</a>
           </li>
           <li>
                <a href="/admin-orders">ORDERS</a>
           </li>
           <li>
            <a href="/admin-products">PRODUCTS</a>
           </li>
       </ul>      
    </header>

    <main>
       <h1>all orders:</h1>
       <div class="searchbar-container">
        <label for="all-orders-select-filter">Sort by:</label>
        <select name="all-orders-select-filter" id="all-orders-select-filter">
          <option value="Surname">Surname</option>
          <option value="Value">Value</option>
          <option value="Date">Date</option>
          <option value="Sent?">Sent?</option>
        </select>
        <input type="text">
        <button>Search</button>
       </div>
       <section class="add-product-section">
        
        <table id="db-all-orders" >
            <tr>
                <th>SENT?</th>
                <th>ID</th>
                <th>SURNAME</th>
                <th>VALUE</th>
                <th>DATE</th>
                <th>more info...</th>
            </tr>
            <template id="db-order-template">
                <tr>
                    <td><div class="checkbox" data-sent="false"><div class="checkbox-tick"></div></div></td>                
                    <td class="db-order-id">fsd</td>                
                    <td class="db-order-surname">fsdfsdafa</td>                
                    <td class="db-order-value">dsfa</td>                
                    <td class="db-order-date">dfsafdsa</td>                
                    <td class="db-order-more-info">dfsafdsa</td>                
                </tr>  
            </template>
            
            
        </table>
    </section>
    </main>
    
</body>
</html>