<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANEL - products</title>
    <link rel="stylesheet" href="/css/admin-panel.css">
    <link rel="stylesheet" href="/css/admin-panel-add-images.css">
    <link rel="stylesheet" href="/css/admin-panel-select-image.css">
  <script src="./js/admin-panel-products.js" defer></script>
  <script src="./js/admin-panel-add-images.js" defer></script>
  <script src="./js/admin-panel-select-image.js" defer></script>
</head>
<body>
    <header>
       <ul>
           <li>
                <a href="/shop">GO TO SHOP</a>
           </li>
           <li>
                <a href="/admin-orders">ORDERS</a>
           </li>
           <li>
            <a href="/admin-products">PRODUCTS</a>
           </li>
           <li>
            <a href="/admin-questions">QUESTIONS</a>
           </li>
       </ul>      
    </header>

    <main>
        <div class="command-buttons">
            <button class="enable-disable-changes-btn disabled">ENABLE CHANGES</button>
            <button class="reverse-all-btn">REVERSE ALL CHANGES FROM CURRENT SESSION</button>
            <button class="save-changes-btn">SAVE CHANGES</button>
        </div>
        
        <h2><span class="dropdown-btn">+</span> ADD NEW PRODUCT:</h2>
        <article class="show-or-hide-wrapper">
            <section class="add-product-section">
                <table id="add-new-product-table" >
                    <tr>
                        <th>NAME</th>
                        <th>DESCRIPTION</th>
                        <th>PRICE <span class="in-cents">(cents)</span></th>
                        <th>CATEGORY</th>
                        <th>IMG</th>
                    </tr>
                    <tr>
                            <td class="add-item-name"><input required type="text"> </td>
                            <td class="add-item-description wide"><input required type="text"> </td>
                            <td class="add-item-price"><input required type="number"></td>
                            <td class="add-item-category "><input required type="text"></td>
                            <td class="add-item-img"><input required type="text"></td>
                            <td class="add-item"><button class="add-item-btn" >ADD ITEM</button></td>                
                    </tr>  
                    
                </table>
            </section>
        </article>
        <!-- ADD FILES FOR PRODUCT IMAGES -->
        <h2><span class="dropdown-btn">+</span> ADD NEW IMAGES:</h2>
        <article class="show-or-hide-wrapper">
            <p class="img-filedrop-info">Here you can add new images for your products by dragging and dropping them or clicking anywhere on the area below and choosing file from your computer:</p>
            <br>
            <section class="img-filedrop-section">
           
               <div class="img-filedrop-container">
                   <input name="f" class="img-filedrop-input" multiple type="file">
                   <!-- <div class="img-filedrop-thumbnail" data-label="myfile.txt"></div> -->

               </div>
               <div class="img-filedrop-btns-wrapper">

                   <button class="img-filedrop-add-btn">Upload Files</button>
                   <button class="img-filedrop-clear-all">Clear All</button>
               </div>
               
            </section>
        </article>
        
        
        
        <section class="current-items-section">
            <h2>YOUR CURRENT ITEMS:</h2>
            
                <table id="current-products" >
                    <tr>
                        <th>NAME</th>
                        <th class="wide">DESCRIPTION</th>
                        <th >PRICE <span class="in-cents">(cents)</span></th>
                        <th >CATEGORY</th>
                        <th>IMG</th>
                    </tr>
                    <template id="single-product-table-entry">
                        <tr class="row">
                            <td class="name"><input required type="text"> </td>
                            <td class="description wide"><input required type="text"> </td>
                            <td class="price"><input required type="number"></td>
                            <td class="category "><input required type="text"></td>
                            <td class="img"><input required type="text"></td>
                            <td class="delete-product"><button class="delete-product-btn"></button></td>
                        </tr>
                    </template>
                    
                    
                </table>
                
            
        </section>
        
    
        
        
    
        <template id="confirmation-window">
            <div class="confirmation-window-container">
                <p class="confirmation-window-message">Are you sure?  <br>
               changes will be saved on server. </p>
                <div class="confirmation-window-btns">
                    <button class="confirmation-window-accept">YES, SAVE</button>
                    <button class="confirmation-window-deny">NO, GO BACK</button>
                </div>
            </div>
        </template>

    </main>
    
    <div class="select-image-modal-overlay confirmation-window-container">
        <div class="select-image-modal-card">
            <article class="select-image-modal-main">

                <section class="select-image-modal-choose-list">
                    <p>Choose file from List:</p>
                    <div style="position: relative;">
                        <button class="img-select-btn">Select image...</button>
                        <ul class="x images-list">
                            <li>dgfsdgsd</li>
                            
                        </ul>
                    </div>
                    
                        
                    
                </section>


                <section class="select-image-modal-preview">
                    <p>preview:</p><br>
                    <div class="selected-img-preview">
                        <img  src="./img/img-large/black.png" alt="">
                    </div>
                    <span  class="selected-img-name">black.png</span>
                </section>

            </article>
            <button class="select-image-modal-confirm-btn">Confirm</button>
        </div>
    </div>

</body>
</html>