<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANNEL</title>
    <link rel="stylesheet" href="/css/admin-panel.css">
  <script src="./js/admin-panel.js" defer></script>
</head>
<body>
    <button class="reverse-all-btn">REVERSE ALL UNSAVED CHANGES</button>
    <section class="add-product">
        <h1>YOUR CURRENT ITEMS</h1>
        <div >
            <table id="current-products" >
                <tr>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                    <th>PRICE</th>
                    <th>CATEGORY</th>
                    <th>IMG</th>
                </tr>
                <template id="single-product-table-entry">
                    <tr class="row">
                        <td class="name"><input type="text"> </td>
                        <td class="description"><input type="text"> </td>
                        <td class="price"><input type="text"></td>
                        <td class="category"><input type="text"></td>
                        <td class="img"><input type="text"></td>
                        <td class="delete-product"><button class="delete-product-btn">DELETE ITEM</button></td>
                    </tr>
                </template>
                
                
            </table>
            <button class="save-changes-btn">SAVE CHANGES</button>
        </div>
    </section>


    <h1>ADD NEW PRODUCT</h1>
    <table id="current-products" style="width:100%">
        <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>CATEGORY</th>
            <th>IMG</th>
        </tr>
        <tr>
                <td class="name"><input type="text"> </td>
                <td class="description"><input type="text"> </td>
                <td class="price"><input type="text"></td>
                <td class="category"><input type="text"></td>
                <td class="img"><input type="text"></td>
                <td class="delete"><button>ADD ITEM</button></td>                
        </tr>  
        
    </table>
    <section class="display-orders">
        <h1>YOUR CURRENT ORDERS</h1>

    </section>
</body>
</html>