:root{
    --main-color: darkslategray;
    --main-text-color: rgb(179, 172, 83);
    --main-text-color-hover: rgb(158, 149, 25);
    --main-shadow: 3px 3px 5px black;
    --main-border: 2px solid rgb(56, 9, 18);
    --tick: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
}
/* generic styles */
body{
    background-color: rgb(58, 66, 66);
    color: var(--main-text-color);
}
header{
    position: sticky;
    top:0;
    height: 60px;
    background-color: var(--main-color);
    box-shadow: 0 0 5px rgb(56, 9, 18);
    margin-bottom: 1rem;
    z-index: 10;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 0.5rem 3rem;
    gap: 2rem;
}
li{
    padding-top: 0.3rem;
  
}

a{
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    transform: translateX(-5px);
    transition: 0.3s ease;
}
a:hover{
    color: var(--main-text-color-hover);
   
}
main{
    
    margin: 1rem auto;
   width: 95vw;
   
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
td, tr, th{
    text-align: start;
    width: 100px;
    
}
.wide{
    width: 45vw;
}
.wide input{
    width: 45vw;
    
}

input{
    background-color: rgb(31, 29, 29);
    color: rgb(167, 164, 154);
    padding: 0.3rem 0.1rem;
    width: 100px;
}
button{
    width: 200px;
    padding: 0.3rem;
    font-size: 1.1rem;
    background-color: var(--main-color);;
    color: var(--main-text-color);
    border-radius: 5px;
    transition: 0.5s ease;
    
}
button:hover{
    cursor: pointer;
    transform: scale(1.03);
    color: var(--main-text-color-hover);
}
button:disabled, input:disabled{
    cursor: not-allowed;
}
section{
    padding-bottom: 2rem;
    border-top: var(--main-border);
}
h1,h2,h3{
    color: rgb(126, 124, 115);
    margin-bottom: 2rem;
}

/*  */
/* more specific styles */
/*  */

/* main buttons */
.command-buttons{
    display: grid;
    grid-template-columns: 1fr auto auto;
    place-items: center;
    padding: 1rem ;
    margin-bottom: 1rem;
    gap: 1rem;

}
.command-buttons button{
    height: 80px;
    border-bottom: var(--main-border);
    border-right: var(--main-border);
    box-shadow: var(--main-shadow);
}
.command-buttons button:first-child{
    justify-self: left;
}

.save-changes-btn{
    background-color: rgba(220, 20, 60, 0.486);
    
}

/* inputs */



.confirmation-window-container{
    position: absolute;
    background-color: rgba(29, 31, 31, 0.931);
    width: 100vw;
    height:100vh;
    top: 0;
    left: 0;
    display: grid;
    /* padding: 5rem; */
    padding-top: 10rem;
    gap: 1rem;
    grid-template-rows: 50px 100px;
    place-items: center;
    font-size: 2rem;
    color: darkkhaki;

}





/*  */
/*  */
/* ORDERS PANEL */
/*  */
/*  */


.checkbox{
    background-color: rgb(170, 33, 8);
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 4px;
    border: var(--main-border);
    transition: 0.3s ease;
}

.vis{
    background-color: rgb(11, 65, 6);
}


/* search panel */
.searchbar-container{
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: rgb(62, 82, 43);
    position: relative;
    height: 40px;
    margin-bottom: 2rem;
}
.searchbar-container button{
    width:250px;    
    padding: 0.3rem;;
    position: relative;
    border: var(--main-border);
}
.sort-btn::after{
    content: '';
    position: absolute;
    top:25%;
    right: 10px;
    width: 15px;
    height: 15px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background-color: var(--main-text-color);
    
    transition: 0.3s ease;
}
.sort-btn:hover::after{
    background-color: var(--main-text-color-hover);
    transform: rotateZ(-90deg);
}
.sort-btn:hover ~ .x{
    display: block;
}
.x{
    display: none;
    
    position: absolute;
    top:38.5px;
    background-color: var(--main-color);
    width: 250px;
    border-radius: 5px;
    z-index: 5;
    border: var(--main-border);
    transition: 0.2s ease;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.x li{
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: -1rem;
    width: 100%;
}
.x li:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: var(--main-text-color-hover);
}
.x:hover {
    display: block; 
    transform: scale(1.005);  
}

#search-field{
    width: 100%;
    padding-left: 2rem;
}
#search-field:focus{
   outline: var(--main-border);
   outline-offset: -2px;
}