:root{
    --main-color: darkslategray;
    --main-text-color: rgb(179, 172, 83);
    --main-text-color-hover: rgb(158, 149, 25);
    --main-shadow: 3px 3px 5px black;
    --main-border: 2px solid rgb(56, 9, 18);
    --tick: 0;
    --body-color: rgb(58, 66, 66);
}
*{
    box-sizing: border-box;
    margin: 0;
}
/* generic styles */
body{
    background-color: var(--body-color);
    color: var(--main-text-color);
}
header{
    position: sticky;
    top:0;
    height: 60px;
    background-color: var(--main-color);
    box-shadow: 0 0 5px rgb(56, 9, 18);
    margin-bottom: 1rem;
    z-index: 10;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    align-items: center;
    padding: 0.5rem 3rem;
    gap: 2rem;
}
li{
    padding-top: 0.3rem;
  
}

a{
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.3rem;
    display: block;
    transform: translateX(-5px);
    transition: 0.3s ease;
}
a:hover{
    color: var(--main-text-color-hover);
   
}
main{
    
    margin: 1rem auto;
   width: 95vw;
   
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
td, tr, th{
    text-align: start;
    width: 100px;
    /* max-width: 200px; */
    
}
td{
    max-height: 300px;
}
.delete-product, .add-item{
    width: 32px;
}

.wide{
    width: clamp(100px, 100vw, 100%);
}
.wide input{
    
    width: clamp(100px, 100vw, 100%);
    
}

input{
    background-color: rgb(31, 29, 29);
    color: rgb(167, 164, 154);
    padding: 0.3rem 0.1rem;
    width: 100px;
}
button{
    width: 200px;
    padding: 0.3rem;
    font-size: 1.1rem;
    background-color: var(--main-color);;
    color: var(--main-text-color);
    border-radius: 5px;
    transition: 0.5s ease;
    
}
button:hover{
    cursor: pointer;
    transform: scale(1.03);
    color: var(--main-text-color-hover);
}
button:disabled, input:disabled{
    cursor: not-allowed;
}
section{
    padding-bottom: 2rem;
    padding-top: 0.6rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin: 0.5rem 0;
    position: relative;
    border-top: var(--main-border);
    background-color: rgba(76, 83, 83, 0.699);
    box-shadow: var(--main-shadow);
}
.current-items-section, .add-product-section{
    overflow: hidden;
    overflow-x: scroll;
    margin: 1rem auto;

    place-items: center;
    padding: 1rem;
}
@media only screen and (min-width: 620px) {
    .current-items-section, .add-product-section{    
    overflow-x: hidden;
    }
}
.product-successfully-added{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: darkgreen;
    background-color: darkgrey;
    border: 1px solid darkslateblue;
    animation: fadeaway 2s forwards 2s;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}


h1,h2,h3{
    color: rgb(126, 124, 115);
    margin-bottom: 2rem;
}
h2{
    font-size: 1.7rem;
}

/*  */
/* more specific styles */
/*  */

/* main buttons */
.command-buttons{
    display: grid;
    grid-template-columns: 1fr auto auto;
    place-items: center;
    padding: 1rem ;
    margin-bottom: 1rem;
    gap: 1rem;

}
.command-buttons button{
    height: 80px;
    border-bottom: var(--main-border);
    border-right: var(--main-border);
    box-shadow: var(--main-shadow);
}
.command-buttons button:first-child{
    justify-self: left;
}

.save-changes-btn{
    background-color: rgba(220, 20, 60, 0.486);
    
}

/* inputs */



.confirmation-window-container{
    position: absolute;
    background-color: rgba(29, 31, 31, 0.931);
    width: 100vw;
    min-height:100vh;
    top: 0;
    left: 0;
    display: grid;
    /* padding: 5rem; */
    padding-top: 10rem;
    gap: 1rem;
    grid-template-rows: 50px 100px;
    place-items: center;
    font-size: 2rem;
    color: darkkhaki;
    z-index: 10;
    /* opacity: 0; */
}
.fade-in-modal{
    animation: fadein 1s forwards;
}

.fade-away-modal{
    animation: fadeaway 1s forwards;
   
}
@keyframes fadeaway {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes fadein {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* DELETE PRODUCT and ADD ITEM buttons styling! */

.delete-product-btn, .add-item-btn{
    background: url(../img/icons/trash-alt.svg)  center/contain no-repeat;
    background-size: 60%;
    height: 2rem;
    padding: 0.3rem;
    width: 2rem;
    position: relative;
    transition: 0.3s;
}
.delete-product-btn::after, .add-item-btn::after{
    content: "delete product ";
    background-color: rgb(93, 11, 28);
    position: absolute;
    justify-content: center;
    align-content: center;
    top:0%;
    left: 0px;
    font-size: 0.9rem;
    padding: 0.3rem 0;
    transform: translateX(0px);
    max-height: 30px;
    transition: 0.3s;
    opacity: 0;
    width: 100px;
    border: 1px solid darkgoldenrod ;
}
.delete-product-btn:hover{
    background-color: rgb(93, 11, 28);
}
.delete-product-btn:hover::after, .add-item-btn:hover::after{
    opacity: 1;
    transform: translateX(-105px);
}

.add-item-btn{
    background: url(../img/icons/calendar-plus.svg)  center/contain no-repeat;
    background-size: 55%;
}
.add-item-btn:hover{
    
    background-color: rgb(44, 90, 15);
}
.add-item-btn::after{
    content: "add new item";
    background-color: rgb(44, 90, 15);
}

/*  */
/*  */
/* ORDERS PANEL */
/*  */
/*  */
.welcome-header{
    padding: 1rem 0;
}
.display-orders-section{
    border:none;
}
tr:nth-child(odd):not(:first-child){
    background-color: rgb(65, 71, 71);
}
.main-row{    
    background-color: rgb(50, 56, 56);
    box-shadow:0 1px 1px 0px rgb(97, 9, 25);    
}
#db-all-orders td,th{
    padding: 1rem 0;
    text-align: center;
}    
.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox{
    background-color: rgb(121, 26, 9);
    width: 30px;
    height: 30px;
    position: relative;
    box-shadow:0 0 3px 1px rgb(97, 9, 25);
    border: none;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
}
.checkbox:hover{
    transform: scale(1.1) skewX(20deg);
}

.vis{
    background-color: rgb(13, 73, 7);
    box-shadow: 0 0 3px 1px rgb(11, 56, 9);
}


/* search panel */
.searchbar-container{
    display: grid;
    grid-template-columns: auto 1fr;   
    position: relative;
    height: 40px;
    margin-bottom: 2rem;
}
.searchbar-container button{
    width:250px;    
    padding: 0.3rem;;
    position: relative;
    box-shadow: 0 0 10px rgb(56, 9, 18);
    border: none;
}
.db-order-more-info-btn{
    box-shadow: 0 0 10px rgb(56, 9, 18);
    border: none;
}
.sort-btn::after{
    content: '';
    position: absolute;
    top:25%;
    right: 10px;
    width: 15px;
    height: 15px;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background-color: var(--main-text-color);
    
    transition: 0.3s ease;
}
.sort-btn:hover::after{
    background-color: var(--main-text-color-hover);
    transform: rotateZ(-90deg);
}
.sort-btn:hover ~ .x{
    display: block;
}
.x{
    display: none;
    box-shadow:0 0 3px 1px rgb(97, 9, 25);
    position: absolute;
    top:38.5px;
    background-color: var(--main-color);
    width: 250px;
    border-radius: 5px;
    z-index: 5;
  
    transition: 0.2s ease;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.x li{
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: -1rem;
    width: 100%;
}
.x li:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: var(--main-text-color-hover);
}
.x:hover {
    display: block; 
    transform: scale(1.005);  
}

#search-field{
    width: 100%;
    padding-left: 2rem;
}
#search-field:focus{
   outline: var(--main-border);
   outline-offset: -2px;
}
.in-cents{
    font-size: 0.8rem;
}








.dropdown-btn{
    display: inline-block;
    text-align: center;
    padding-top: 0.3rem;
    color: var(--main-text-color);
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-radius: 2px;
    box-shadow: 2px 2px 1px rgba(27, 26, 26, 0.555);
    width: 25px;
    height: 25px;
    background-color: darkslategray;
    transition: 0.5s ease;
    transform-origin: top left;
}
.dropdown-btn:hover{
    cursor: pointer;
    transform: rotateZ(6deg) skew(-6deg) scaleY(1.2);

}
.show-or-hide-wrapper{
    display: none;
    animation: grow 1s ease-out both;
    transform-origin: top;
    transform: translateY(-20px) scaleY(0.2); 
    opacity: 0;
}
@keyframes grow {
    0%{transform: translateY(-20px) scaleY(0.2); opacity: 0;}
    100%{transform: translateY(0px) scaleY(1); opacity: 1;}
   
}


.logout-btn{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: rgb(107, 97, 97);
  transition: 0.2s;
  width: fit-content;
}

.logout-btn:hover, 
.logout-btn:active {
  text-decoration: underline;
  color: tomato;
}