   /* 
  CART CONTENT
  */
  .close-cart-btn{
      background-color: rgb(199, 145, 155);
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0px;
      border-bottom-left-radius: 15px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      padding-top: 0.3rem;
      color: white;
      font-family: sans-serif;
      cursor: pointer;
      transform-origin: top right;
      transition: 0.4s ease;
    }
    .close-cart-btn:hover{
        background-color: crimson;
        transform: scale(1.1);
    }
  .cart-content{
      width: 300px;
      max-height: 500px;
      overflow-y: scroll;
      background-color: rgb(229, 160, 160);
      position: absolute;
      right: 0px;
      display: none;
      padding: 0.5rem;
      z-index: 1000;
      border-radius:10% 0% 0% 15% / 0% 8% 23% 50%  ;
       transform: translateZ(300px) scale(1) rotateZ(-90deg);
       transform-origin: top right;
       
    }
    .cart-content::after{
        content: '';
        bottom: -10px;
        width: 100%;
        height: 60px;
        background:linear-gradient(0deg, lightcoral, rgba(0, 0, 255, 0));
        position: sticky;
    }
    

    .show-cart{
        display: grid;
        z-index: 100;
        transform-origin: top right;
        animation: swing-forwards 0.5s ease-in-out 0.1s forwards;
    }
    .hide-cart{
        transform: translateZ(300px) scale(1) rotateZ(0deg);
        animation: swing-backwards 0.5s ease-in-out 0.1s forwards;
        display: grid;
        
    }

    @keyframes swing-forwards {
        from {transform: translateZ(300px) scale(0) rotateZ(-90deg);}
        to {transform: translateZ(300px) scale(1) rotateZ(0deg);}
    }
    @keyframes swing-backwards {
        from {transform: translateZ(300px) scale(1) rotateZ(0deg);}
        to {transform: translateZ(300px) scale(0) rotateZ(-90deg);}
    }
    .sum{
    background-color: rgb(230, 221, 221);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.5rem;
    color: rgb(66, 64, 64);
    margin-bottom: 0.2rem;
}
.sum .cart-total{
    color: rgb(66, 64, 64);
    font-size: 1.2rem;
}
.place-order-btn, .clear-cart-btn{
    
    background: white;
    color: gray;
    border-radius: 3px;
    border: 1px solid lightblue;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 1.3px;
}
.clear-cart-btn{
    margin-top: 1rem;
    color: red;
    border: 1px solid rgb(194, 22, 9);
    display: none;
}
.place-order-btn:hover {
    background: linear-gradient(60deg, rgba(15, 33, 131, 0.541), rgba(23, 138, 90, 0.466));
    color: white;
}
.clear-cart-btn:hover{
    background: linear-gradient(60deg, rgba(221, 19, 19, 0.541), rgba(23, 138, 90, 0.466));
    color: white;
    
}

/* single product */
.product-in-cart{
    width: 60%;
    margin: 0.4rem 1rem;   
    padding: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
    border-radius: 5px;
    background-color: rgb(228, 241, 241);
    border: 1px solid black; 
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    place-self: center;
}


.product-in-cart-mini-img{
    max-width: 170px;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* overflow: hidden; */
}
.product-in-cart-mini-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: 1px solid rgb(223, 214, 214);
    outline-offset: -2px;
}
.product-in-cart-name{
    font-weight: bold;
    text-transform: capitalize;
}

.product-in-cart-quantity{
    color: rgb(66, 64, 64);
    font-size: 0.85rem;
    display: grid;
    gap: 0.2rem;
    text-align: center;
}
.quantity-modifier{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}
.quantity-modifier button{
    text-align: center;
    font-size: 0.8rem;
    width: 1.3rem;
    height: 1rem;
    padding-bottom: 1rem;
}

.remove-from-cart,
.sub-one-btn,
.add-one-btn{
    border-radius: 3px;
    background-color: rgb(232, 235, 240);
    
    border: 1px solid cornflowerblue;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.remove-from-cart{
    height: 1.2rem;
}
.remove-from-cart:hover,
.sub-one-btn:hover,
.add-one-btn:hover
{
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

.product-in-cart-price{
    color: gray;
}


/* ALERT NO-items in cart */
.alert-no-items{
    position: absolute;
    border-radius: 3px;
    top: 0;
    
    width: 100%;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    background: linear-gradient(10deg, rgb(70, 3, 3), crimson);
    place-items: center;
    z-index: 10;
    padding: 2rem;
    
    animation: alert-fade-in 0.3s ease;
}
@keyframes fade-inn {
    from{opacity: 0;}
    to{opacity:1;}
}