#customer-message-form{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0.2rem
}
button,input, textarea{
    width: clamp(300px, 40%, 500px);
    
    padding: 0.3rem;
}

input:focus {
    outline: 1px solid crimson;
  }
  input::placeholder, textarea::placeholder {
    
    transition: opacity 1s ease, transform 1s ease;
  }
  input:focus::placeholder, textarea:focus::placeholder {
    color: blue;
    transform: translateX(-100%);
    /* transform: translateY(-30px); */
    opacity: .5;
  }