html{
    --text-color: rgb(9, 7, 97);
    --backgr: rgb(131, 131, 204);
    --margin: 1rem;
}
.indprod-container{
    width: 100%;
    height: 100%;
    background-color: var(--backgr);
    padding: 1rem;
    box-shadow: 2px 2px 5px 1px black;
}
.indprod-name{
    background-color: var(--backgr);
    color: var(--text-color);
}
.indprod-desc-card{
    background-color: var(--backgr);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
@media only screen and (min-width: 500px) {
    .indprod-desc-card{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
    }
}
.indprod-category{
    background-color: var(--backgr);
    margin-bottom: var(--margin);
}
.indprod-image-preview{
    background-color: var(--backgr); 
    margin-bottom: var(--margin);   
}
.indprod-description{
    background-color: var(--backgr);  
    margin-bottom: var(--margin);  
}
.indprod-footer{
    background-color: var(--backgr);
    padding-bottom: var(--margin);  
}
.indprod-price{
    background-color: var(--backgr);    
}
.indprod-buynow-btn{
    background-color: rgb(128, 0, 117);

}
