*{
    box-sizing: border-box;
    margin: 0;
    
}
html{
    background-color: black;
}
body{
    overflow-x: hidden;
    background-color: white;
    /* transform: translateZ(-300px); */
    opacity: 0;
    transition: 0.3s ease-out;
}
.body-fade-in{
    opacity: 1;

}

svg:not(.bubble){
    max-width: 30px;
    pointer-events: none;
}

h1, h2, p{
    color:rgb(54, 54, 54);
}

 /* 
  NAVBAR
  */
  header{
      position: sticky;
      top: 0;
      z-index: 999;
  }
nav{
    
    width: 100%;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    position: relative;
    box-shadow: 0px 0px 10px blue;
   
}

/* logo */
.logo{
    width: 130px;
    text-rendering: geometricPrecision;
    height: 50px;
    background: linear-gradient(60deg, rgba(15, 33, 131, 0.541), rgba(23, 138, 90, 0.466));
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 0.3rem;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: 200%;
    animation: background-move 3s ease-in-out infinite;
    transform: scale(1) skew(-5deg);
    transition: 0.3s;
}
.logo:hover{
    transform: scale(1.1) skew(-10deg);
}

/* links list */
.nav-links{
    /* background-color: yellowgreen; */
    list-style: none;
    padding: 0.5rem;
    margin: 0;
    display: grid;
    gap: 0.2rem;
    grid-template-columns: auto;
    place-self: center;
    
}
.hide-links{
    max-height: 80px;
    overflow: hidden;
}
.nav-links a{
    text-decoration: none;
    color: rgb(107, 97, 97);
    transition: 0.2s;
}
.nav-links a:hover, 
.nav-links a:active {
    text-decoration: underline;
    color: tomato;
}
.nav-link{
    padding: 0.5rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* menu icon */
.menu-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 1rem;
    transition: 0.3s;

    
}
/* cart icons */
.cart-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: cadetblue;
    display: grid;
    place-items: center;
    position: absolute;
    left: 50%;
    top:1rem;
    margin-left: 0.5rem;
    cursor: pointer; 
    transition: 0.3s;
}
.menu-icon:hover,.cart-icon:hover{
    transform: scale(1.1);
    border-radius: 6px;
}
.cart-icon-shake{
    animation: shake 1s ease forwards;
}
@keyframes shake{
    15%{
        transform: scale(1.1) rotateZ(10deg);
    }
    30%{
        transform: scale(1.1) rotateZ(-8deg);
    }
    50%{
        transform: scale(1.1) rotateZ(6deg);
    }
    70%{
        transform: scale(1.06) rotateZ(-4deg);
    }
    90%{
        transform: scale(1.03) rotateZ(2deg);
    }
}

.cart-counter{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(207, 37, 45);
    position: absolute;
    right: 10%;
    top:10%;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    padding: 5%;
}

@media only screen and (min-width: 600px) {
    nav {      
      grid-template-columns: auto 1fr auto;
      
    }
    .nav-links{
        grid-template-columns: auto auto auto 150px;
        margin-left: 15%;
        max-width: 600px;
        min-width: 300px;
    }
    .nav-links li{
        
        text-align: right;
        
    }
    .login-link {
        text-align: right;
        place-self: right;
    }
    .menu-icon{
        display: none;
    }
    .cart-icon{
        position: relative;
        top:0;
        left:0;
    }
  }




  /* 
  MAIN SECTION
  */

main{
    background: linear-gradient(90deg, rgba(7, 20, 92, 0.445), rgba(15, 116, 74, 0.377));
    min-height: 70vh;
    padding: 1rem;
    /* background-size: 200%;
    animation: background-move 20s ease-in-out infinite; */
}
@keyframes background-move{
    0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
}



  /* 
  FOOTER
  */
  footer{
      min-height: 200px;
      width: 100%;
      background-color: rgb(7, 1, 31);
      display: grid;
      grid-template-columns: 1fr auto;
      position: relative;
      z-index: 2;
  }
  .footer-links{
      margin: 0;
      grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-links a{
    color: white;
    place-self: center;
}
.footer-links li{
      font-size: 1rem;
        
  }
  footer p{
      color: white;
      place-self: center;
      padding: 1rem;
  }
  /* @media only screen and (min-width: 800px) {
      .footer-links{
        grid-template-columns: 1fr 1fr 1fr;
      }
  } */

  input::placeholder{
    color:rgb(7, 1, 31);
    font-weight: bold;
  }
  input{
      color: rgb(7, 1, 31);
  }

  .bubble{
      position: absolute;
      max-width: 600px;
      opacity: 0.5;
      top: 0;
      animation: bubble 11s linear forwards;
      transform: translateX(10px) translateY(0px);
  }
  @keyframes bubble {
   0%{transform: translateX(10px) translateY(0px);}   
   10%{transform: translateX(-10px) translateY(-100px);}   
   20%{transform: translateX(10px) translateY(-200px);}   
   30%{transform: translateX(10px) translateY(-300px);}   
   40%{transform: translateX(-10px) translateY(-400px);}   
   50%{transform: translateX(10px) translateY(-500px);}   
   60%{transform: translateX(-10px) translateY(-600px);}   
   70%{transform: translateX(10px) translateY(-700px);}   
   80%{transform: translateX(-10px) translateY(-800px);}   
   90%{transform: translateX(10px) translateY(-900px);}   
   100%{transform: translateX(-10px) translateY(-1000px);}   
  }


  .logout-btn{
      cursor: pointer;
      border: none;
      background-color: transparent;
      padding: 0.5rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: rgb(107, 97, 97);
    transition: 0.2s;
  }
  
.logout-btn:hover, 
.logout-btn:active {
    text-decoration: underline;
    color: tomato;
}